<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Building"
        tools:targetApi="31" >
        <activity
            android:name=".Facade"
            android:exported="false" />
        <activity
            android:name=".SmartBuildAdminMenu"
            android:exported="false"
            android:label="@string/title_activity_smart_build_admin_menu"
            android:theme="@style/Theme.Building.NoActionBar" />
        <activity
            android:name=".Residents"
            android:exported="false" />
        <activity
            android:name=".ParkingArea"
            android:exported="false" />
        <activity
            android:name=".FireSafety"
            android:exported="false" />
        <activity
            android:name=".SecurityFeatures"
            android:exported="false" />
        <activity
            android:name=".LandscapingGardening"
            android:exported="false" />
        <activity
            android:name=".BlocksActivity"
            android:exported="false" />
        <activity
            android:name=".SmartBuildAdminHome2"
            android:exported="false" />
        <activity
            android:name=".ContentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>